.box{
    
    background-color: rgb(239, 239, 240);
    width: 210vh;
    height: 100vh;
    display:flex;
    justify-content: space-between;
}

.box .box1{
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius : 10px ;
    border-radius: 5% ;
    display:flex;
    justify-content: left;
    column-gap: 10px;
}

.box .box2{
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius : 10px ;
    border-radius: 5% ;
    display:flex;
    justify-content: left;
    column-gap: 10px;
}

.box .box1 .box11{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius : 10px ;
    border-radius: 5% ;
}

.box .box1 .box12{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius : 10px ;
    border-radius: 5% ;
}



.box .box2 .box21
{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius : 10px ;
    border-radius: 5% ;
}

.box .box2 .box22{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius : 10px ;
    border-radius: 5% ;
}
